<div class="sidebar-wrapper">
  <div class="user_profsm">
    <img src="{{ image }}" alt="{{ this.username }}" class="user_smicon" />
    <span>{{ this.username }}</span>
  </div>
  {{ this.url }}
  <ul class="nav">
    <li
      *ngFor="let l of leftPanel(); let i = index"
      [ngClass]="
        l.path === '/coach/Tounament' && l.path === this.router.url
          ? 'tour_mainmenu nav-item active'
          : l.path === '/coach/Stage' && l.path === this.router.url
          ? 'stage_mainmenu nav-item active'
          : l.path === '/coach/Animation' && l.path === this.router.url
          ? 'animation_mainmenu nav-item active'
          : l.path === this.router.url
          ? 'nav-item active'
          : null
      "
    >
      <a routerLink="{{ l.path }}" class="nav-link" href="javascript:;">
        <i [ngClass]="l.iclass"></i>
        <p
          [ngClass]="l.style ? 'nav-sub-title' : null"
          [innerHTML]="l.title"
        ></p>
      </a>
      <div
        class="tour_submenu"
        *ngIf="l.path === '/coach/Tounament' && tournList.length > 0"
      >
        <ul class="nav">
          <li
            *ngFor="let ls of tournList; let k = index"
            class="nav-item"
            [ngClass]="null"
          >
            <a class="" (click)="editTournament(ls.tourn_id, ls.coach_id)">
              <p
                [ngClass]="ls.style ? 'nav-sub-title' : null"
                [innerHTML]="ls.title"
              ></p>
            </a>
          </li>
        </ul>
      </div>

      <div
        class="stage_submenu"
        *ngIf="l.path === '/coach/Stage' && stageList.length > 0"
      >
        <ul class="nav">
          <li
            *ngFor="let st of stageList; let j = index"
            class="nav-item"
            [ngClass]="null"
          >
            <a class="" (click)="editStage(st.stage_id, st.coach_id)">
              <p
                [ngClass]="st.style ? 'nav-sub-title' : null"
                [innerHTML]="st.title"
              ></p>
            </a>
          </li>
        </ul>
      </div>

      <div
        class="animation_submenu"
        *ngIf="l.path === '/coach/Animation' && animationList.length > 0"
      >
        <ul class="nav">
          <li
            *ngFor="let ai of animationList; let m = index"
            class="nav-item"
            [ngClass]="null"
          >
            <a
              class=""
              (click)="editAnimation($event, ai.stage_id, ai.coach_id)"
            >
              <p
                [ngClass]="ai.style ? 'nav-sub-title' : null"
                [innerHTML]="ai.title"
              ></p>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
