<app-header></app-header>
<app-top-menu></app-top-menu>
<div class="innerbanner">
    <img src="../assets/images/coach_banner.jpg" alt="Los Angeles">
    <div class="inner_carousel">
        <h3>oh my tennis</h3>
    </div>
</div>
<!-- Banner ends --> 

<!-- Inner Search area starts -->
<div class="inner_searcharea">
    <div class="banner_container">
        <h3>Réservez un cours avec un coach</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control" id="" placeholder="Ville" type="text">
                        <label><img src="../assets/images/ville_icon.png"></label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control" id="" placeholder="Date" type="text">
                        <label><img src="../assets/images/date_icon.png">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 inner_search_div">
                <button class="btn black_btn">Recherche</button>
            </div>
        </div>
    </div>
</div>
<!-- Inner Search area ends --> 

<!-- section1 starts -->
<div class="section1 des_titre_list haspadd">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page_title_div">
                <h1 class="page_title">Guide pratique des terrains de tennis </h1>				
                <img src="../assets/images/title_border.png" alt="title_border" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>	
    
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <h5>C’est quoi un guide pratique des terrains de tennis ?</h5>
            <p>Le guide pratique vous permet de trouver des terrains de tennis sur un département sélectionné. C’est un véritable outils d’aide à la pratique qui  permet tout à chacun de découvrir des lieux insoupçonnés. Au delà de ça, il est intéressant d’avoir des informations complémentaires vous permettant d’affiner vos choix si cela est possible.En effet il n’existe pas deux même lieux, chacun a ses spécificités qui peuvent parfois vous pousser à vous décider si vous êtes hésitants.</p>
            
            <p>Commencez votre première partie au tennis (conseils)</p>
            <p>Quelques conseils pour vous préparez à l’effort (conseils)</p>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img1.jpg" class="center-block" alt="titre_img1" />
        </div>
    </div>	
    
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img3.jpg" class="center-block" alt="titre_img1" />
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
        <h5>Informations complémentaires sur les courts de tennis</h5>
            <p>C’est sympa de savoir si il existe un terrain à tel endroit mais  chacun a ses exigences parfois sur certains paramètres qui ne sont pas évidemment les mêmes pour tout le monde  </p>
        </div>
    </div>	
    
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <h5>Stade ou complexe pour jouer au tennis ?</h5>
            <p>S’agit il d’un stade ou d’un complexe ? En effet on a beaucoup plus de chances d’avoir froid en hiver dans un stade que dans un complexe. On peut noter que certains complexes sont même chauffés (environ 15 degrés) ce qui peut être un élément différenciant quand en plein hiver il fait très froid sous les courts bullés d’un stade  (proche de 0 degré) mais attention cela à souvent un coût d’entretien qui se répercute sur le prix de location ! </p>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img6.jpg" class="center-block" alt="titre_img1" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img9.jpg" class="center-block" alt="titre_img1" />
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <h5>Terrain de tennis couvert ou découvert ?</h5>
            <p>Le froid c’est une chose mais si la pluie s’en mêle,  le terrain peut devenir vite impraticable (glissade, chute et blessures dans le pire des cas). Dans ce genre de situation il faut éviter de s’entêter à vouloir absolument jouer car votre santé physique est en jeu. La plupart du temps les agent d’accueil des stades déclinent toute responsabilité en cas d’accident et ne vous font pas payer voire vous interdisent l’accès aux terrains. Un petit coup d’œil sur un site ou un appli météo (lien méteo France) vous permettra de savoir si il pleut le jour dit ou même une heure avant.</p>
           
            <p>Voici quelques conseils si vous jouer au tennis dehors par temps froid ou temps chaud (conseils)</p>
            
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <h5>Possibilité de jouer gratuit grâce au mur de tennis?</h5>
            <p>Certains lieux possèdent un mur, le terrain par excellence pour commencer à taper dans la balle quand on est débutant. La plupart du temps ils sont gratuits d’accès et vous permettent de répéter vos frappes à l’infini (c’est toujours le mur qui gagne !). Le seul inconvénient de cet outils est qu’il ne retranscrit pas bien l’effet de la balle puisque au contact du mur la rotation de la balle est forcément altérée. Si vous n’avez pas trouvé d’adversaire ou si vous souhaitez vous défoulez , rien de mieux</p>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img13.jpg" class="center-block" alt="titre_img1" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img3.jpg" class="center-block" alt="titre_img1" />
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
        <h5>Surface du terrain de tennis rapide ou lente ?</h5>
            <p>LQue cela soit sur terre battue , synthétique ou béton poreux (quick) les joueurs ont leur préférences pour différentes raisons :  préventions des articulations (et donc des blessures) sur terre battue ou préférence de filière de jeu rapide sur courts en synthétiques , le but est d’optimiser son rendement sur le terrain.</p>
        </div>
    </div>
        <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <h5>Quel est le nombre de terrains de tennis sur site ?</h5>
            <p>Cela peut paraître bête mais plus il y a de terrains et plus vous avez de la chance de jouer si il y a une forte demande (soir et week end par exemple). Il faut savoir qu’en période hivernale les gens se battent pour jouer en structure couverte donc prêter attention aux conditions de réservations des terrains pour éviter de vous faire avoir et ne pas jouer ! </p>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img6.jpg" class="center-block" alt="titre_img1" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <img src="../assets/images/concept_img9.jpg" class="center-block" alt="titre_img1" />
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12">
            <h5>Terrain de tennis ou terrain multi sport ?</h5>
            <p>Le terrain multisport est la hantise de tout joueur de tennis. En effet les lignes de basketball ou handball perturbent les jugements de balles , les repères sur le terrain et pour peu que vous soyez daltonien c’est la totale !  Ce n’est pas forcément l’idéal pour commencer , rien de mieux qu’un terrain bien dégagé pour avoir une vision claire de l’espace de jeu mais certaines fois on n’a pas le choix </p>
            
            
        </div>
    </div>
    
</div>
</div>
<!-- section1 ends -->

<!-- section2 starts -->
<div class="section2 des_titre_backtext">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="des_back_content">
            <h4>Nous proposons aux passionnés de tennis d'avoir un univers spécialement créé pour eux.</h4>
            </div>
        </div>
    </div>	
</div>
</div>
<app-footer></app-footer>
<!-- section2 ends --> 

