<body class="admin_tempstyle">
  <div class="wrapper myaccount_page">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="logo">
          <a href="../../coach" class="simple-text logo-normal">
              <img src="../../../assets/coach/images/admin_logo.png" alt="">
          </a>
      </div>
      <app-leftpanel></app-leftpanel>
  </div>
  <div class="main-panel">
    <app-top-nav-bar></app-top-nav-bar>
    <router-outlet></router-outlet>
  </div>
    
  </div>
  
</body>
