.newcoachlist {
  background: #f5f5f5;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.newcoachlist .section_btn {
  border-radius: 50px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #ccc;
  color: orange;
  text-decoration: none;
  padding: 10px 40px 10px 40px;
  color: #eb4800;
  margin-top: 30px;
  border-color: #eb4800;
  font-size: 16px;
  width: 100%;
  font-style: normal;
  /* float: none; */
  /* max-width: 100%; */
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.newcoachlist .section_btn:hover {
  color: white;
  background-color: #eb4800;
}
.newcoachlist .checked {
  color: orange;
}
.newcoachlist .section {
  padding-top: 30px;
}
.newcoachlist .set {
  border: 1px white;
  box-shadow: 2px 2px #00000014;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: white;
}
.newcoachlist .section1_btn {
  border-radius: 50px;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #ccc;
  color: orange;
  padding: 2px 21px 2px 21px;
  color: #ff5722;
  margin-top: 47px;
  border-color: #ff5722;
  font-size: 18px;
  float: left;
  font-style: normal;
}
.newcoachlist .px-0 {
  padding: 0px;
}
.newcoachlist .set img {
  border-radius: 7px;
  height: 151px;
  width: 151px;
}
.newcoachlist span,
h3 {
  color: #ff5722;
}
.newcoachlist a {
  font-style: italic;
  font-size: 15px;
}

.newcoachlist .inner_carousel h3 {
  color: white;
  font-size: 41px;
  font-style: normal;
}
.newcoachlist .select_drop {
  background: white;
  width: 100%;
  margin-top: 20px;
  border-bottom: 4px white;
}
.newcoachlist .select_drop h2 {
  font-size: 20px;
  text-align: center;
  padding: 25px 15px 25px 15px;
  border-bottom: 1px solid #9e9e9e;
  /* margin-bottom: 20px; */
  color: #282828;
  font-weight: bold;
}
.newcoachlist .select_drop h3 {
  padding: 20px 25px 0px 25px;
  color: #282828;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}
.newcoachlist .select_drop a {
  border-radius: 50px;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: bold;
  width: 84%;
  margin: 20px;
}
.newcoachlist .select_drop a:hover {
  color: #eb4800;
  background-color: white;
  border: 1px solid #eb4800;
}
.newcoachlist .search {
  border-bottom: 4px white;
  padding: 25px 20px 8px 20px;
  position: relative;
}
.newcoachlist .clearfix {
  clear: both;
}
.newcoachlist .cours {
  background: white;
  width: 100%;
  margin-top: 15px;
  border-bottom: 4px white;
  padding: 20px 15px;
  font-size: 15px;
  color: #282828;
}
.newcoachlist .cours h4 {
  padding: 15px 4px 15px 4px;
  color: black;
}
.newcoachlist input[type="checkbox"] {
  vertical-align: middle;
  background: none;
  width: 18px;
  margin-right: 13px;
  vertical-align: middle;
  background: none;
  margin: 9px 18px 9px 7px;
  height: 18px;
}
.newcoachlist .date {
  background: white;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
}
.newcoachlist .button {
  background-color: #eb4800;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 15px;
  cursor: pointer;
  width: 89%;
  border-radius: 50px;
}
.newcoachlist .search input {
  font-weight: 500;
  padding: 15px 38px 11px 26px;
  border-radius: 50px;
  box-shadow: none;
  outline: none;
  border: 1px solid gray;
  text-indent: 35px;
  color: #666666;
  font-size: 12px;
  max-width: 205px;
}
.newcoachlist .search .fa {
  position: absolute;
  top: 42px;
  left: 43px;
  z-index: 10;
}
.newcoachlist .search1 {
  padding-bottom: 20px;
}

.newcoachlist .date input {
  padding: 13px 15px 13px 23px;
  border-radius: 50px;
  box-shadow: none;
  outline: none;
  border: 1px solid gray;
  text-indent: 35px;
}
.newcoachlist .date .fa {
  position: absolute;
  top: 32px;
  left: 43px;
  z-index: 10;
}
.newcoachlist .cours h3 {
  color: black;
  margin-bottom: 20px !important;
}
.newcoachlist .tag a {
  border-radius: 50px;
  border: 1px solid gray;
  height: 35px;
  width: 35px;
  margin: 0px 5px;
  font-size: 20px;
  text-align: center;
  line-height: 35px !important;
  color: gray;
}
.newcoachlist .select_drop h3,
.cours h3 {
  color: black;
  margin: 0px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
.newcoachlist .tag a:hover {
  border: 1px solid #ff5722;
  color: #ff5722;
}



.newcoachlist .px-30 {
  padding-right: 35px;
}

.previou {
  cursor: pointer;
}
.nex {
  cursor: pointer;
}
.submit {
  margin: 0px 20px;
}

.newcoachlist .row_box {
  border: 1px solid white;
  padding: 55px;
  margin: 20px 0px;
  box-shadow: 2px 2px #00000014;
  border-radius: 5px;
  background: white;
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .newcoachlist .section_btn {
    font-size: 19px;
    margin-top: 0px;
  }
  .newcoachlist .px-30 {
    padding: 0px 15px;
  }
  .newcoachlist .select h2 {
    font-size: 19px;
    padding: 25px 15px 13px 15px;
  }
  .newcoachlist .select h3 {
    padding: 6px 25px 0px 25px;
    font-size: 19px;
  }
  .newcoachlist .search input {
    max-width: 100%;
    width: 100%;
  }
  .newcoachlist .select a {
    padding: 15px 25px 15px 25px;
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    display: inline-block;
    border: 1px solid #eb4800;
    margin-top: 12px;
    margin-bottom: 15px;
    border-radius: 50px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: bold;
    width: 100%;
  }
  .newcoachlist .set {
    font-size: 12px;
    text-align: center;
    margin: 0px 15px 15px;
  }
  .newcoachlist .section1_btn {
    text-align: center;
    font-size: 15px;
    margin-bottom: 16px;
    font-style: normal !important;
    display: inline-block;
    float: none;
    margin-top: 16px;
  }
  .newcoachlist .tag .fa {
    font-style: normal;
    font-size: 18px;
    margin: 4px;
  }
  .newcoachlist span,
  h3 {
    color: #ff5722;
    margin-top: 12px;
  }
  .newcoachlist a {
    font-size: 12px;
  }
  .newcoachlist .set img {
    margin-top: 15px;
  }
  newcoachlist .set p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120ch;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .newcoachlist .section_btn {
    padding: 10px 48px 10px 50px;
    font-size: 20px;
  }
  .newcoachlist .search input {
    max-width: 200px;
  }
  .newcoachlist .px-30 {
    padding-right: 10px;
  }
  .newcoachlist .section1_btn {
    text-align: center;
    margin-bottom: 14px;
    margin-top: 4px;
    float: none;
    margin-left: 156px;
  }
  .newcoachlist .tag .fa {
    font-style: normal;
    font-size: 18px;
    margin: 4px;
    margin-bottom: 15px;
  }
  .newcoachlist .button {
    width: 100%;
    margin-left: 0px !important;
  }
  .newcoachlist .set {
    padding-bottom: 27px;
  }
  .newcoachlist .section {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .newcoachlist .select h3,
  .cours h3 {
    font-size: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .newcoachlist .section1_btn {
    margin-left: -15px;
    font-size: 15px;
    margin-top: 80px;
    display: block;
    margin-right: -15px;
    padding: 5px 21px;
  }
}

@media (min-width: 1200px) {
  .set .tag {
    margin-bottom: 7px;
  }
}
/* SDKAT */
.select_drop #rayon
{
  width: 100%;
  padding: 15px 38px 11px 50px;
  text-align: left;
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
.newcoachlist .mapsection {
   position: relative;
   height: 450px;
}