<app-header></app-header>
<app-top-menu></app-top-menu>

<!-- Banner starts -->
<div class="innerbanner">
  <img src="../assets/images/coach_banner.jpg" alt="Los Angeles" />
  <div class="inner_carousel">
    <h2>OH MY COACHES</h2>
  </div>
</div>
<!-- Banner ends -->
<div class="section1 des_coach_content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1 class="pagetitle_black">Les coachs Oh my tennis</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <p>
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco labori nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse est
          laborum.
        </p>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <a
          href="javascript:;"
          routerLink="{{ '/' + this._const('PATH.OFFREDESERVICE') }}"
          class="darkgrey_btn"
          >en savoir plus</a
        >
      </div>
    </div>
  </div>
</div>
<div class="newcoachlist">
  <!-- Map section starts -->
  <div class="mapsection">
    <!-- <iframe
      src="https://maps.google.com/maps?q=11.9416,79.8083&hl=es&z=14&amp;output=embed"
      width="100%"
      height="350"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
    ></iframe> -->

    <div class="map-container">
      <div class="map-frame">
      <!-- <a href="https://www.openstreetmap.org/directions?engine=fossgis_osrm_car&route={{curentlat}}%2C{{curentlang}}%3B{{lat}}%2C{{lang}}"
          target="_blank"> -->
          <div id="map"></div>
      <!-- </a> -->
      </div>
    </div><!-- End of map-container-->


  </div>
  <!-- Map section ends -->

  
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 px-30">
          <!-- <button class="viewmap_btn section_btn" (click)="showMyMap=!showMyMap">Voir la carte</button> -->
          <button class="viewmap_btn section_btn" (click)="toogleData()">Voir la carte </button>
          <form (ngSubmit)="searchByCoach(search)">
            <div class="select_drop">
              <h2>Option de filtrage</h2>
              <h3>Code Postal</h3>
              <div class="search search1">
                <i class="fa fa-search"></i>
                <input
                  type="number"
                  [(ngModel)]="search.ville"
                  placeholder="Code Postal"
                  name="search.ville"
                  id="ville"
                  pattern="^[0-9]{5}$"
                  maxlength="5"
                  required
                  className="form-control"
                />
              </div>
            </div>
            <!-- SDKAT START -->
            <div class="select_drop">
              <h3>Rayon <small>(till 20 miles)</small></h3>
              <div class="search search1">
                <select [(ngModel)]="search.rayon" name="rayon" className="form-control" id="rayon">
                  <option *ngFor="let number of numbers; index as i" [selected]="search.rayon===0">{{number}}</option>
                </select>
              </div>
            </div>
            <!-- SDKAT END -->
            <div class="cours">
              <h3>Selectionnez votre cours</h3>
              <input
                type="radio"
                [(ngModel)]="search.course"
                id="stage"
                value="Stage"
                name="search.course"
              />Stage<br />
              <input
                type="radio"
                id="teambuilding"
                value="TeamBuilding"
                [(ngModel)]="search.course"
                name="search.course"
              />Team Building<br />
              <input
                type="radio"
                id="animations"
                value="Animations"
                [(ngModel)]="search.course"
                name="search.course"
              />Animations<br />
              <input
                type="radio"
                id="tournament"
                value="Tournament"
                [(ngModel)]="search.course"
                name="search.course"
              />Tournament<br />
              <input
                type="radio"
                [(ngModel)]="search.course"
                id="individual"
                value="CoursIndividuel"
                name="search.course"
              />Course Individual<br />
              <input
                type="radio"
                id="ondemand"
                value="CoursCollectifOndemand"
                [(ngModel)]="search.course"
                name="search.course"
              />Collective on Demand<br />
              <input
                type="radio"
                id="collectifclub"
                value="CoursCollectifClub"
                [(ngModel)]="search.course"
                name="search.course"
              />Collective Club<br />
            </div>
            <div class="select_drop">
              <h3>Selectionnez Date</h3>
              <div class="search">
                <i class="fa fa-calendar"></i>
                <input
                  [(ngModel)]="search.date"
                  name="search.date"
                  [min]="min"
                  [owlDateTime]="dt1"
                  [owlDateTimeTrigger]="dt1"
                  placeholder="Date"
                  readonly
                />
                <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
              </div>
              <button href="#" class="submit button">Soumettre</button>
            </div>
          </form>
        </div>
        <div
          class="col-md-8 col-sm-4 col-xs-12 px-30"
          *ngIf="pager.totalPages > 0; else nocoachesdata"
        >
          <div class="row" *ngFor="let res of pagedItems; let i = index">
            <div class="set">
              <div class="col-md-2 col-sm-4 col-xs-12 px-0">
                <img src="../assets/images/header.png" alt="header" />
              </div>
              <div class="col-md-7 col-sm-8 col-xs-12 ml-2">
                <h3>{{ res.Coach_Fname }} {{ res.Coach_Lname }}</h3>
                <a href="#"
                  ><span>Email: </span>{{ res.Coach_Email }} |
                  <span>Phone: </span>{{ res.Coach_Phone }}</a
                >
                <p>
                  {{ res.Coach_Description }}
                </p>
                <div class="tag">
                  <a href="{{ res.FacebookURL }}" class="fa fa-facebook-f"></a>
                  <a href="{{ res.TwitterURL }}" class="fa fa-twitter"></a>
                  <a href="{{ res.InstagramURL }}" class="fa fa-instagram"></a>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12">
                <button
                  (click)="goToCouchDetail(res.Coach_ID)"
                  class="section1_btn"
                >
                  Voir le profil
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <ul
            *ngIf="
              pager.pages && pager.pages.length > 0 
            "
            class="pager"
          >
            <li
              class="previou"
              [ngClass]="{ disabled: pager.currentPage === 1 }"
            >
              <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li
              class="nex"
              [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
            >
              <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
          </ul>
          <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                      <li [ngClass]="{ disabled: pager.currentPage === 1 }">
                        <a (click)="setPage(1)">First</a>
                      </li>
                      <li [ngClass]="{ disabled: pager.currentPage === 1 }">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                      </li>
                      <li
                        *ngFor="let page of pager.pages"
                        [ngClass]="{ active: pager.currentPage === page }"
                      >
                        <a (click)="setPage(page)">{{ page }}</a>
                      </li>
                      <li
                        [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
                      >
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                      </li>
                      <li
                        [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
                      >
                        <a (click)="setPage(pager.totalPages)">Last</a>
                      </li>
                    </ul> -->
        </div>

        <ng-template #nocoachesdata>
          <div class="col-md-8 col-sm-4 col-xs-12 px-30">
            <div class="row_box">
              <div class="set_data">
                <div class="col-md-12 col-sm-4 col-xs-12 px-0">
                  <h2>No Coach List</h2>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </ng-template>
      </div>
      <div class="clearfix"></div>
    </div>
    <app-footer></app-footer>
  </div>
</div>