<!-- section3 starts -->
<div class="section3 des_conseils_circletext haspadd">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="conseils_round_sec">
          <div class="des_orange_circle">
            <img src="./assets/images/conseils_icon1.png" alt="concept_icon1" />
          </div>
          <h5>
            <strong><a class="orange_text">JOUER</a></strong>
          </h5>
          <div class="des_grey_overlay">
            <div class="des_overlay_content">
              <div class="padding_bot">
                <a
                  href="javascript:;"
                  routerLink="{{
                    '/' + this._const('PATH.CONSEILS.PREMIEREPARTIE.SELF')
                  }}"
                  class="btn orange_btn"
                  >PREMIERE PARTIE</a
                >
              </div>
              <div class="padding_bot">
                <a
                  href="javascript:;"
                  routerLink="{{
                    '/' + this._const('PATH.CONSEILS.PREMIERCOURS.SELF')
                  }}"
                  class="btn orange_btn"
                  >PREMIER COURS</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="conseils_round_sec">
          <div class="des_orange_circle">
            <img src="./assets/images/conseils_icon2.png" alt="concept_icon1" />
          </div>
          <h5>
            <strong><a class="orange_text">MATCHER</a></strong>
          </h5>

          <div class="des_grey_overlay">
            <div class="des_overlay_content">
              <div class="padding_bot">
                <a
                  href="javascript:;"
                  routerLink="{{
                    '/' + this._const('PATH.CONSEILS.PREMIERMATCH.SELF')
                  }}"
                  class="btn orange_btn"
                  >PREMIER MATCH</a
                >
              </div>
              <div class="padding_bot">
                <a
                  href="javascript:;"
                  routerLink="{{
                    '/' + this._const('PATH.CONSEILS.PREMIERTOURNOI.SELF')
                  }}"
                  class="btn orange_btn"
                  >PREMIER TOURNOI</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="conseils_round_sec">
          <div class="des_orange_circle">
            <img src="./assets/images/conseils_icon3.png" alt="concept_icon1" />
          </div>
          <h5>
            <strong
              ><a class="orange_text" href="concept_engagements.html"
                >CONSEILS</a
              ></strong
            >
          </h5>
          <div class="des_grey_overlay">
            <div class="des_overlay_content">
              <div class="padding_bot">
                <a
                  href="javascript:;"
                  routerLink="{{
                    '/' + this._const('PATH.CONSEILS.DIETETIQUE.SELF')
                  }}"
                  class="btn orange_btn"
                  >DIETETIQUE</a
                >
              </div>
              <div class="padding_bot">
                <a
                  href="javascript:;"
                  routerLink="{{
                    '/' + this._const('PATH.CONSEILS.FORMEPHYSIQUE.SELF')
                  }}"
                  class="btn orange_btn"
                  >FORME PHYSIQUE</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
        <div class="conseils_round_sec">
          <div class="des_orange_circle">
            <img src="./assets/images/conseils_icon4.png" alt="concept_icon1" />
          </div>
          <h5>
            <strong
              ><a class="orange_text" href="concept_informations.html"
                >MATERIEL</a
              ></strong
            >
          </h5>
          <div class="des_grey_overlay">
            <div class="des_overlay_content">
              <div class="padding_bot">
                <a
                  href="javascript:;"
                  routerLink="{{
                    '/' + this._const('PATH.CONSEILS.CHOISIR.SELF')
                  }}"
                  class="btn orange_btn"
                  >CHOISIR</a
                >
              </div>
              <div class="padding_bot">
                <a href="#" class="btn orange_btn">TESTER</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section3 ends -->
