<app-header></app-header>
<app-top-menu></app-top-menu>
<!-- Banner starts -->
<div class="innerbanner" *ngIf="response.banner_box == 1">
  <img [src]="response.photo" alt="Los Angeles" />
  <div class="inner_carousel">
    <h3>{{ response.banner_content }}</h3>
  </div>
</div>
<!-- Banner ends -->

<!-- Inner Search area starts -->
<div class="inner_searcharea" *ngIf="response.search_box == 1">
  <div class="banner_container">
    <h3>Réservez un cours avec un coach</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              class="form-control"
              id=""
              maxlength="6"
              placeholder="Code Postal"
              [(ngModel)]="Ville"
              type="text"
            />
            <label><img src="./assets/images/ville_icon.png"/></label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="form-group">
          <div class="addon-lg">
            <input
              type="text"
              style="text-align:left!important;"
              [min]="min"
              class="form-control"
              id=""
              placeholder="Date"
              [(ngModel)]="Date"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
            />
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            <label><img src="./assets/images/date_icon.png" /> </label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-left">
        <button (click)="handleClick($event)" class="btn black_btn">
          Recherche
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Inner Search area ends -->

<!-- section3 starts -->
<div class="section3 section1 left_sidebarmenu haspadd">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-12 col-md-12 col-sm-8 col-xs-12 sm_norightpadd right_sidecontent"
      >
        <div class="col-md-12 md_noleftpadd padd_botspace col-xs-12">
          <div [innerHTML]="response.content"></div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<!-- section3 ends -->
<app-footer></app-footer>
