<app-header></app-header>
<app-top-menu></app-top-menu>

<!-- Banner starts -->
<div class="innerbanner">
    <img src="../../assets/images/coach_banner.jpg" alt="Los Angeles">
    <div class="inner_carousel1">
        <h3>oh my event</h3>
    </div>
</div>

<div class="banner">
    <div class="search_area">
        <div class="banner_container">
            <h3>Réservez un cours avec un event</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <div class="addon-lg">
                            <input class="form-control" id="" maxlength="6" placeholder="Code Postal"
                                [(ngModel)]="Ville" type="text">
                            <label><img src="./assets/images/ville_icon.png"></label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        <div class="addon-lg">
                            <input class="form-control" placeholder="Date" [(ngModel)]="Date"
                                type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1">
                            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                            <label><img src="./assets/images/date_icon.png"></label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4 text-left">
                    <button (click)="searchEvent()" class="btn black_btn">Recherche</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Search area ends -->
</div>

<div class="col-sm-12">
    <div class="des_events des_events_rev">
        <div class="container" >
            <div class="column" *ngFor="let res of response">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="des_events_bg des_events_bg_rev">
                        <img src="{{res.Photo}}" class="img-responsive center-block" style="height: 250px;">
                        <div class="">
                            <p class="des_date_sec"><span>{{res.Date}}</span>{{res.Month_Year}} </p>
                            <p class="des_event_sub_title">{{res.Eventname}}</p>
                            <p class="des_event_para max-lines">{{res.Description}} </p>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary des_event_btn" (click)="gotoCoach(res)"
                                style="margin-top: 15px;">Reserve maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="response.length == 0"><h2 style="color:red;">Aucun enregistrement trouvé</h2></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<app-footer></app-footer>