<app-header></app-header>
<app-top-menu></app-top-menu>
<div class="forgotpass_sec">
  <div class="container-fluid">
    <div
      *ngIf="alertMsg.show"
      class="alert {{ alertMsg.type }} alert-dismissible text-center"
    >
      <button type="button" (click)="_closeAlertMessage($event)" class="close">
        <span>&times;</span>
      </button>
      {{ alertMsg.msg }}
    </div>
    <div class="head_sec">
      <p class="title_reg">ENTREZ VOTRE NOUVEAU MOT DE PASSE</p>
      <div class="text-center">
        <h6>
          Entrez votre adresse email associée à votre compte OhMyTennis et
          entrez votre nouveau mot de passe.
        </h6>
      </div>
    </div>
    <div class="reg_form">
      <form>
        <div class="form-group row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label class="">E-mail <span style="color:red">*</span></label>
            <input
              type="text"
              [(ngModel)]="data.email"
              name="data.email"
              id="email"
              class="form-control fields"
              required
              placeholder="E-mail"
            />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label class=""
              >Mot de passe <span style="color:red">*</span></label
            >
            <input
              type="password"
              [(ngModel)]="data.password"
              name="data.password"
              id="password"
              class="form-control fields"
              required
              placeholder="Mot de passe"
            />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label class=""
              >Confirmez le mot de passe <span style="color:red">*</span></label
            >
            <input
              type="password"
              [(ngModel)]="data.confirm_pass"
              name="data.confirm_pass"
              id="confpassword"
              class="form-control fields"
              required
              placeholder="Confirmez le mot de passe"
            />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <a
              class="btn btn-default login_btn_form btn-block"
              style="text-transform:uppercase;background-color:#ccc"
              >ANNULER
            </a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <a
              (click)="setpassword()"
              class="btn btn-default login_btn_form btn-block"
              style="text-transform:uppercase;background-color: #e75b00;color: antiquewhite;"
              >ENVOYER</a
            >
          </div>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
