<div class="content dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <a href="bookedCoursePending.html">
                <i class="">{{ CoursIndividuel }}</i></a
              >
            </div>
            <h3 class="card-title">Nombre de cours individuels réservés</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="">{{ CoursCollectifOndemand }}</i>
            </div>
            <h3 class="card-title">
              Nombre de cours collectifs ondemand réservés
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="">{{ CoursCollectifClub }}</i>
            </div>
            <h3 class="card-title">Nombre de cours collectifs réservés</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="">{{ Stage }}</i>
            </div>
            <h3 class="card-title">Nombre de cours stage terminés</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="">{{ Tournament }}</i>
            </div>
            <h3 class="card-title">Nombre de cours tournament terminés</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="">{{ TeamBuilding }}</i>
            </div>
            <h3 class="card-title">
              Nombre de cours team building terminés
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="">{{ Animation }}</i>
            </div>
            <h3 class="card-title">Nombre de cours animation terminés</h3>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="">0</i>
            </div>
            <h3 class="card-title">Reschedule - cours individuels</h3>
          </div>
          .
        </div>
      </div> -->
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="copyright float-left">
      <strong>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        , <a href="http://172.107.175.10:3000/#">Oh My Tennis</a>.</strong
      >
      All rights reserved.
    </div>
    <div class="copyright float-right">
      <b>Designed &amp; Developed By</b>&nbsp;Cloudnausor
    </div>
  </div>
</footer>
