<!-- Banner starts --> 
<app-header></app-header>
<app-top-menu></app-top-menu>

<div class="innerbanner">
    <img src="../assets/images/abonnement-cours-de-tennis.jpg" alt="Los Angeles">
    <div class="inner_carousel">
        <h3>Oh My Conseils</h3>
    </div>
</div>
<!-- Banner ends --> 

<!-- Inner Search area starts -->
<div class="inner_searcharea">
    <div class="banner_container">
        <h3>Réservez un cours avec un coach</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control"  placeholder="Ville" type="text">
                        <label><img src="../assets/images/ville_icon.png"></label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control"  placeholder="Date" type="text">
                        <label><img src="../assets/images/date_icon.png">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 inner_search_div">
                <button class="btn black_btn">Recherche</button>
            </div>
        </div>
    </div>
</div>
<!-- Inner Search area ends --> 


<!-- section1 start -->
<div class="site_map">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="site_detail">
            <h3>oh my concept</h3>
            <ul>
            <li><a href="http://172.107.175.10:4001/concept-présentation">Presentation generale</a></li>
            <li><a href="http://172.107.175.10:4001/concept-chartequalit%C3%A9">charte qualite</a></li>
            <li><a href="http://172.107.175.10:4001/concept-engagements">Nos engagements</a></li>
            <li><a href="http://172.107.175.10:4001/concept-lacharte">charte education</a></li>		
            </ul>
            </div>
            <div class="site_detail">
            <h3>oh my coachs</h3>
                            <ul>
            <li><a href="http://172.107.175.10:4001/offre-de-service-coach-tennis">Les coachs Oh my tennis</a></li>
            </ul>
            <h3>oh my Event</h3>
            <li><a href="http://172.107.175.10:4001/stage">Stage</a></li>
            <li><a href="http://172.107.175.10:4001/team-building"></a>team-building</li>
            <li><a href="http://172.107.175.10:4001/animation"></a>Animation</li>
            <li><a href="http://172.107.175.10:4001/tournament"></a>Tournament</li>	
            </div>
            <div class="site_detail">
            <h3>Oh My Club House</h3>
            
            <h4>Defi ohmytennis</h4>
            <h4>challenge ohmytennis</h4>
            
            <ul>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/pettices_announces_clubhouse.html">Petites announces</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/parrainer_clubhouse.html">Parrainer un ami</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/quiz_jeuxconcour.html">Jeux concours</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/quiz_testintroduction.html">Quiz </a></li>
            </ul>
            <ul>
            <li><a href="http://192.168.1.32:4001/cgu">CGU </a></li>
            <li><a href="http://192.168.1.32:4001/cgv">CGV </a></li>
            <li><a href="http://192.168.1.32:4001/mentionslegales">Mentions legales </a></li>
            </ul>
            </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
    
    
        <div class="site_detail">
            
            <h3>oh my conseils</h3>
            <ul>
            <h4>Jouer</h4>
                <li><a href="file:///home/testing-04/Documents/Static_Pages/conseils_jour_premi%C3%A8repartie.html">Premiere Partie</a></li>
            <li><a href="/home/testing-04/Documents/Static_Pages/conseils_jour_premiercours.html">Premiere Cours</a></li>
            </ul>
            <h4>Matcher</h4>
            <ul>
                <li><a href="/home/testing-04/Documents/Static_Pages/conseils_matcher_premiermatch.html">Premiere Match</a></li>
                        <li><a href="file:///home/testing-04/Documents/Static_Pages/conseils_matcher_premiertournoi_officiel.html">Premier Tournoi</a></li>
            </ul>
                    <h4>conseils</h4>
            <ul>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/conseils_consiele_di%C3%A9t%C3%A9tique.html">Diététique</a></li>
            <li><a href="/home/testing-04/Documents/Static_Pages/conseils_consiele_formephysique.html">Forme Physique</a></li>
            </ul>
            <h4>Materiel</h4>
            <ul>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/conseils_consiele_di%C3%A9t%C3%A9tique.html">Choisir</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/conseils_matriel_tester.html">Tester</a></li>
            </ul>		
            
        </div>
        </div>
        
        
        <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="site_detail">
            
            <h3>oh my Tennis</h3>
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
            <h4>Comprendre</h4>
            <ul>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/tennis_comprendre_histoire.html">Historique du tennis </a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/histoire1930-1950%20.html">1880-1930</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/histoire1950-1973%20.html">1930-1950</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/histoire1950-1973%20.html#">1950-1973</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/histoire-1973.html">1973-auj</a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/lexique.html">Lexique du tennis </a></li>
            <li><a href="file:///home/testing-04/Documents/Static_Pages/tennis_comprendre_regles.html"><h4>Régles du tennis</h4> </a></li>
            <li><a href="http://172.107.175.10:4001/regles-compter">Computer les points</a></li>
            <li><a href="http://172.107.175.10:4001/regles-principle">Regles principales</a></li>
            <li><a href="http://172.107.175.10:4001/regles-elements">Elements D'UN terrain de tennis</a></li>
            <li><a href="http://172.107.175.10:4001/regles-dimensions">Dimensions D'UN terrain de tennis</a></li>
            </ul>
            <h4>Apprendre</h4>
            <ul>
            <li>Technique</li>
            <li>Tactique</li>
            <li>Physique</li>
            <li>mental</li>
            </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <h4> Partiquer</h4>
            <ul>
            <li>Vente de meteriel</li>
            <li><a href="http://172.107.175.10:4001/guide-des-terrains-pratique">guide-des-terrains-pratique</a></li>
            <li><a href="http://172.107.175.10:4001/Pratique-License">Pratique-License</a></li>
            <li>Recherche Partenaire</li>
            <li>Tournois amicaux</li>
            <li>Tournois officiels</li>
            </ul>
            <h4> Circuit ATP</h4>
            <ul>
            <li>Pronostics</li>
            <li>Billererie</li>
            <li>Actualite</li>
            <li>Livescore</li>
            <li>Classment ATP</li>				
            </ul>
            </div>
            <div class="clearfix"></div>
            </div>
            
            
        </div>
        </div><div class="clearfix"></div>
    </div>		
</div>
</div>
<app-footer></app-footer>

<!-- section1 end -->
