<app-header></app-header>
<app-top-menu></app-top-menu>
<div class="forgotpass_sec">
    <div class="container-fluid">
        <div *ngIf="alertMsg.show" class="alert {{alertMsg.type}} alert-dismissible text-center">
            <button type="button" (click)="_closeAlertMessage($event)" class="close"><span>&times;</span></button>
            {{alertMsg.msg}}
        </div>
        <div class="head_sec">
            <p class="title_reg">MOT DE PASSE OUBLIE</p>
            <div class="text-center">
                <h6>Saisissez votre adresse e-mail associée à votre compte OhMyTennis et recevez un lien pour
                    réinitialiser votre mot de passe.</h6>
            </div>
        </div>
        <div class="reg_form">
            <form>
                <div class="form-group row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="">E-mail <span style="color:red">*</span></label>
                        <input type="text" [(ngModel)]="email" name="email" id="email" class="form-control fields"
                            required placeholder="E-mail">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a class="btn btn-default login_btn_form btn-block" href="http://localhost:4300/login"
                            style="text-transform:uppercase;background-color:#ccc">ANNULER
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <a (click)="forgotpass()" class="btn btn-default login_btn_form btn-block"
                            style="text-transform:uppercase;background-color: #e75b00;color: antiquewhite;">ENVOYER</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>