.img-circle {
  border-radius: 50%;
}
.newcoachprofile .inner_carousel {
  text-align: center;
  float: right;
  top: 30px;
}
.newcoachprofile .footer {
  margin-top: 0px;
}
.newcoachprofile .inner_carousel img {
  max-width: 200px;
}
.newcoachprofile .header-icons {
  margin-left: 30px;
}

.newcoachprofile .sel img {
  max-width: 32px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 25px;
}
.newcoachprofile .sel a {
  color: white;
  font-size: 19px;
  line-height: 50px;
  font-weight: 501;
}

.newcoachprofile .sect {
  text-align: center;
}
.newcoachprofile .banner1 {
  height: 400px;
}
.newcoachprofile .train {
  color: white;
  background: #474c48;
  padding: 12px 12px 11px 11px;
  font-style: italic;
}
.newcoachprofile .train h4 {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
.newcoachprofile .training_section {
  width: 100%;
  background: #f6f6f6;
  margin: 0px;
  padding: 70px 50px 80px 50px;
}
.newcoachprofile .training_section1 {
  width: 100%;
  background: #f6f6f6;
  margin: 0px;
  padding: 12px 50px 80px 50px;
}
.newcoachprofile .train1 img,
.newcoachprofile .train2 img {
  background: #686866;
  margin-left: -40px;
  height: 100px;
  border-radius: 5px;
}
.newcoachprofile .train1 h4,
.newcoachprofile .train2 h4 {
  padding: 0px 0px 0px 0px;

  margin-top: 30px;
  text-align: left;
}
/*.newcoachprofile .sect .train-2 h4{
	padding: 40px;
margin-top: 0px;
margin-right: -16px;
margin-left: -48px;
} */

.newcoachprofile .mytrain {
  border: 1px solid;
}
.newcoachprofile .train2 {
  background: white;
  padding: 0px;
  margin: 0px 0px 13px;
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.56);
  border-radius: 4px;
}
.px-0 {
  padding: 0px;
}
.mx-0 {
  margin: 0px;
}
.newcoachprofile .event {
  color: white;
  background: #474c48;
  padding: 10px 0px 2px 0px;
  margin: 40px -15px 0px -15px;
}
.newcoachprofile .event h4 {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
.newcoachprofile .col-md-8 .train1 {
  padding: 15px;
}
.newcoachprofile .innerbanner .fa {
  border: 1px solid #ff8a00;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 32px;
  margin: 4px 5px 12px;
  color: #ff8a00;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.newcoachprofile .map {
  font-size: 20px;
  color: coral;
}
.newcoachprofile .i-font {
  font-size: 10px;
}

.newcoachprofile .inner_carousel h3 {
  font-weight: bold;
  margin-top: -6px;
  margin-bottom: 11px;
  text-transform: none;
  font-size: 29px;
}
.newcoachprofile .innerbanner h5 {
  font-size: 29px;
  font-weight: bold;
}
.newcoachprofile .innerbanner h5 .prix {
  text-decoration: line-through;
}
.newcoachprofile .innerbanner h5 .prix-1 {
  color: #b53d11;
  font-size: 19px;
}
.coach_profilesection {
  background: #f6f6f6;
}
.newcoachprofile .section2 h3 {
  background: #474c48;
  color: white;
  padding: 10px;
  font-weight: bold;
  margin: 30px 0px 10px 0px;
}
.newcoachprofile .sect h3 {
  font-size: 17px;
}
.newcoachprofile .sect h3 .sect-1 {
  color: #e75c01;
}

.newcoachprofile .section2 h4 {
  color: #e05f22;
  text-align: center;
  font-style: italic;
  font-size: 28px;
  font-weight: bold;
  margin: 20px;
}
.newcoachprofile .set {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.56);
  background: white;
  padding: 3px 5px;
  position: relative;
}
.newcoachprofile .set img {
  margin: 2px 16px 2px -9px;
  float: left;
  width: 130px;
}

.newcoachprofile .grand-stage {
  text-align: left;
  margin-left: -50px;
}
.newcoachprofile .section1_btn,
.newcoachprofile .section2_btn {
  border-radius: 50px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid#ccc;
  padding: 10px 25px 10px 25px;
  color: #ff5722;
  font-style: normal;
  font-weight: bold;
  border-color: #ff5722;
}
.newcoachprofile .section1_btn {
  float: none;
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 30px;
  margin-top: 50px;
}
.newcoachprofile .section2_btn {
  margin-top: 30px;
  border-color: #ff5722;
  font-size: 13px;
  float: none;
  display: block;
  text-transform: uppercase;
  margin-left: 0px;
  margin-right: 0px;
}
.newcoachprofile .training_section1 {
  padding: 12px 0px 80px 0px;
}
.newcoachprofile .section2_btn:hover {
  background-color: #ff5722;
  color: white;
}
.newcoachprofile .section1_btn:hover {
  background-color: #ff5722;
  color: white;
}
.newcoachprofile .section2_btn:hover {
}
.newcoachprofile .section1 .my-event {
  padding-top: 55px;
}
.newcoachprofile .section2 .row {
  margin: 15px 0px 15px -30px;
}
.newcoachprofile .section2 h5 {
  font-size: 19px;
  color: #e75b00;
  font-weight: bold;
  text-align: left;
  margin-left: -40px;
}
.newcoachprofile .section2 {
  background: #f6f6f6;
  /*  margin-bottom: -84px; */
  /* padding-top: 30px; */
}
/*.newcoachprofile .gray-bg{
	background:#f6f6f6;
}*/
.newcoachprofile .calender {
  background-color: #e05f22;
  position: absolute;
  top: 5px;
  right: 11px;
  height: 40px;
  width: 90px;

  margin-right: -16px;
}
.newcoachprofile .calender h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 8px;
}
.newcoachprofile .calender p {
  font-size: 11px;
  font-weight: bold;
  color: white;
  margin-top: -13px;
  margin-left: 4px;
  text-align: center;
}
.newcoachprofile .team-build {
  padding-left: 10px;
}
.newcoachprofile .team-build {
  margin-left: 27px;
}
:hover .newcoachprofile .train1 img {
  color: #e05f22;
}
.train2 a:hover .stage {
  background-color: #e05f22;
}

.train2 a:hover h4 {
  color: #e05f22;
}

@media (min-width: 480px) and (max-width: 767px) {
  .service-1 .col-md-4 {
    width: 50%;
    float: left;
  }
  .newcoachprofile .section2_btn {
    max-width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 410px) {
  .newcoachprofile .calender {
    top: -220px !important;
  }
  body.newcoachprofile .section1_btn {
    top: -184px;
  }
}
@media (max-width: 479px) {
  body.newcoachprofile .set img {
    float: left;
    width: unset;
    margin: 2px 0px 2px -13px;
    max-width: 120px;
  }
  .newcoachprofile .banner1 {
    height: 450px;
  }
  body.newcoachprofile .grand-stage {
    font-size: 12px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  body.newcoachprofile .section1_btn {
    float: none;
    font-size: 10px;
    right: 0px;
    /*	top: 50px; */
    position: absolute;
    z-index: 23;
    padding: 7px 12px;
  }
  .newcoachprofile .set {
    padding: 3px 5px 10px;
  }
  body.newcoachprofile .section2 h5 {
    font-size: 13px;
    text-align: left;
    margin-top: 25px;
    margin-left: 0px;
  }

  .newcoachprofile .calender {
    height: 30px;
    width: 61px;
    top: 230px;
    margin-right: -16px;
    z-index: 5;
    position: absolute;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .newcoachprofile .grand-stage {
    margin-left: -25px;
  }
  .newcoachprofile .section2 h5 {
    margin-left: -25px;
  }
}
@media (max-width: 767px) {
  .newcoachprofile .section2_btn {
    margin-left: auto;
    max-width: 240px;
    margin-right: auto;
    text-align: center;
    float: none;
    display: block;
  }
  .newcoachprofile .set {
  }
  .newcoachprofile .section1_btn {
    top: -93px;
    padding: 10px 15px 10px 15px;
    float: none;
    font-size: 10px;
  }
  .newcoachprofile .set img {
  }
  .newcoachprofile .section2 .row {
    margin: 20px -30px 25px -30px;
  }
  .newcoachprofile .calender h2 {
    font-size: 16px;
    margin-top: 7px;
  }
  .newcoachprofile .section2 h5 {
    font-size: 16px;
    color: #e75b00;
    font-weight: bold;
    text-align: left;
    margin-top: -120px;
    margin-left: 140px;
  }
  .newcoachprofile .grand-stage {
    text-align: left;
    font-size: 10px;
    margin-left: 140px;
  }
  .newcoachprofile .calender {
    height: 30px;
    width: 61px;
    top: -130px;
    margin: auto;
    right: -5px;
  }
  .newcoachprofile .event {
    margin: 40px -15px 0px -15px;
  }
  .newcoachprofile .training_section1 {
    padding: 12px 5px 80px 5px;
  }
  .newcoachprofile .section2_btn {
    padding: 15px 25px 15px 25px;
  }
  .training_section1 .service-1 {
  }
  .newcoachprofile .section2_btn {
    float: none;
    display: block;
  }
}

.newcoachprofile .section1_btn {
  float: none;
  font-size: 13px;
  position: absolute;
  right: 0px;
}
