<div class="content">
    <div class="container-fluid">

        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="">{{ CoursIndividuel }}</i>
                        </div>
                        <h3 class="card-title">Nombre de cours individuels réservés</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="">{{ CoursCollectifOndemand }}</i>
                        </div>
                        <h3 class="card-title">Nombre de cours collectifs ondemand réservés</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="">{{ CoursCollectifClub }}</i>
                        </div>
                        <h3 class="card-title">Nombre de cours collectif club réservés</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="">{{ Stage }}</i>
                        </div>
                        <h3 class="card-title">Nombre de cours stage terminés</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="">{{ Tournament }}</i>
                        </div>
                        <h3 class="card-title">Nombre de cours tournament terminés</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="">{{ TeamBuilding }}</i>
                        </div>
                        <h3 class="card-title">Nombre de cours team building terminés</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="">{{ Animation }}</i>
                        </div>
                        <h3 class="card-title">Nombre de cours animation terminés</h3>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="">0</i>
                        </div>
                        <h3 class="card-title">Reschedule - cours individuels</h3>
                    </div>.
                </div>
            </div> -->
        </div>
    </div>
</div>