.gallery img {
  border-radius: 10px 10px;
  padding-bottom: 10px;
  width: 100%;
}

.banner1 {
  background: #fff;
  position: relative;
  padding-bottom: 1px;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  width: 100%;
}
