<app-header></app-header>
<app-top-menu></app-top-menu>
  <!-- Banner starts --> 
  <div class="innerbanner" style="background-color:#000">
    <img src="../assets/images/cours-particuliers-de-tennis.jpg" style="width:100%;opacity:0.8" alt="Los Angeles">
    <div class="inner_carousel">
        <h3>CONDITIONS GENERALES D’UTILISATION</h3>
    </div>
</div>
<!-- Banner ends --> 

<!-- Inner Search area starts -->
<div class="inner_searcharea">
    <div class="banner_container">
        <h3>Réservez un cours avec un coach</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control" id="" maxlength="6" placeholder="Code Postal" [(ngModel)]="Ville"
                            type="text" />
                        <label><img src="./assets/images/ville_icon.png" /></label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input type="text" style="text-align:left!important;" [min]="min" class="form-control" id=""
                            placeholder="Date" [(ngModel)]="Date" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" />
                        <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
                        <label><img src="./assets/images/date_icon.png" /> </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 text-left">
                <button (click)="handleClick($event)" class="btn black_btn">
                    Recherche
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Inner Search area ends --> 

<!-- section1 starts -->
 <div class="section1 des_concept_list haspadd">
<div class="container">
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page_title_div">
        
                <h1 class="page_title">CONDITIONS GENERALES D’UTILISATION</h1>				
                <img src="../assets/images/title_border.png" alt="title_border" />
            </div>
        </div>
        <div class="clearfix"></div>
    </div>	
    



    <div class="row middle_contents">
        <div class="col-md-12 col-sm-12 col-xs-12">
        
            <div class="mid_contentdiv">
                <span style="font-weight:bold;margin-bottom:15px;"><em>Mise à jour le 4 janvier27 février 2018</em></span>
                <h1 class="page_title">Présentation Ohmytennis</h1>	
                <p>Les présentes conditions générales d’utilisation (« CGU ») sont proposées par la société LEP SPORTS (ci-après la « Société »), SASU au capital de 5 000 euros, inscrite au Registre du commerce et des sociétés de PARIS sous le numéro 81778949800018, dont le siège social est 43, rue de la Chaussée d'Antin, 75009 Paris, France. Son numéro de téléphone non surtaxé est le 0683587013, son adresse de courrier électronique est julienmilgram@proftennis.com et son numéro individuel d’identification TVA intracommunautaire FR 80 817789498.</p>
                <p>Les CGU visent à exposer les modalités d’accès et d’utilisation du site internet www.ohmytennis.com (le « Site »).</p>
                <p>Le directeur de publication du Site est Monsieur Julien Milgram. </p>

                <p>Tout utilisateur du Site doit prendre connaissance des CGU et les accepter dans la mesure où elles s’appliquent à toute utilisation du Site. </p>
                <p>Le Site est hébergé par</p>	
<p><strong><a class="content_link" href="">Découvrez les conditions générales de vente du</a></strong></p>
<p><strong><a class="content_link" href="">Découvrez les mentions légales du site Ohmytennis</a></strong></p>

    </div>
        </div>
        
        <div class="clearfix"></div>
    </div>	


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
    
        <div class="mid_contentdiv">
            <h1 class="page_title">Définitions Ohmytennis</h1>	
            <p>Les termes ci-dessous auront la signification qui en est donnée dans cet article lorsqu’ils sont employés avec une majuscule dans les présentes CGU. </p>
            <p> «<span style="font-weight:bold;"> CGU </span> » désignent les présentes conditions générales d’utilisation. </p>
            <p>«<span style="font-weight:bold;"> Coach(es)</span> » désigne(nt) un ou des professeurs de tennis habilité(s) à délivrer des leçons de tennis et qui est référencé sur la Plateforme. </p>

            <p>«<span style="font-weight:bold;">Joueur</span> » désigne toute personne qui souhaite bénéficier des services de la Plateforme et notamment pouvoir réserver un cours de tennis ou rechercher un autre Joueur afin de lui proposer de partager une partie de tennis.</p>
    <p>« <span style="font-weight:bold;">Partenaire</span> » désigne toute entité juridique partenaire du Site qui est référencée sur la Plateforme et le Site. </p>	
    <p>« <span style="font-weight:bold;">Plateforme</span>» désigne l’outil mis à disposition des Utilisateurs à partir du Site.</p>
    <p>« <span style="font-weight:bold;">« Site </span>» désigne le site Internet accessible à l’adresse www.ohmytennis.com.</p>
    <p>« <span style="font-weight:bold;">« Utilisateur</span> » désigne toute personne qui utilise la Plateforme après avoir procédé à son inscription sur le Site.</p>
    <p>«<strong><a class="content_link" href=""> Préparez vous pour jouer votre première partie au tennis</a></strong></p>




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
                    <h1 class="page_title">Objet des CGU Ohmytennis</h1>	
                    <p>Les présentes CGU ont pour objet de définir les conditions et les modalités dans lesquelles les Utilisateurs peuvent accéder à la Plateforme et l’utiliser afin d’avoir accès aux services proposés par la Plateforme. 
    </p>
                    <p> «Toute personne qui accède à la Plateforme s’engage à respecter, sans réserve, les présentes CGU, qui sont notifiées aux Utilisateurs pour acceptation préalablement à leur utilisation de la Plateforme. 
    </p>
                    <p>La Société est libre de modifier, à tout moment et sans préavis, les présentes CGU, afin notamment de prendre en compte toute évolution légale, jurisprudentielle, éditoriale et/ou technique. La version qui prévaut est celle qui est accessible en ligne.
    </p>
    
                    <p>Les CGU applicables sont celles en vigueur à la date de connexion et d’utilisation de la Plateforme par les Utilisateurs. 
    </p>
                    
            
        </div>
    
            </div>
            
            <div class="clearfix"></div>
        </div>		

        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mid_contentdiv">
                        <h1 class="page_title">Description de la Plateforme Ohmytennis</h1>	
                        <p>La Plateforme est accessible en ligne depuis le Site Internet www.ohmytennis.com </p>
                        <p> La Plateforme offre aux Utilisateurs un outil permettant la mise en relation avec des professeurs de tennisCoaches ainsi que divers services relatifs au tennis tels que la mise en relation entre Joueurs. </p>
                        <p>En outre, le Site propose la possibilité de réserver auprès des Partenaires référencés sur la Plateforme un certain nombre d’activités dont notamment, sans que cela soit limitatif, des leçons de tennis. </p>
        
                        <h2>Réservation d’un cours particulier de tennis</h2>
                        <ul>
                            <li>Un Utilisateur qui souhaite réserver un cours particulier fait une recherche sur la page dédiée de la Plateforme afin de trouver un Coach qui lui convienne. Notamment cela passe par des critères géographiques. </li>
                            <li>Dans le cadre de cette recherche, une liste de Coaches est affichée sur la Plateforme.</li>
                            <li>L'Utilisateur clique sur la photographie ou le nom du Coach pour accéder à son profil. Il y trouvera un calendrier indiquant les disponibilités du Coach ainsi que le ou les terrains sur lesquels le Coach enseigne.</li>
                            <li>L’Utilisateur sélectionne un créneau horaire ainsi qu'une date sur le calendrier puis envoie la demande au Coach qui reçoit une notification directement sur la Plateforme et par email.</li>
                            <li>Dans le cas où le Coach répond favorablement à la demande de l’Utilisateur, ce dernier passe au paiement de sa commande.</li>
                            <li>Il reçoit un email final récapitulatif de sa commande.</li>
                        </ul>
                
                        <h2>Utilisation de la Plateforme par les Coachs de tennis</h2>
                        <ul>
                            <li> Les Coaches qui s’inscrivent sur la Plateforme pourront bénéficier des services qui leurs sont spécialement dédiés.</li>
                            <li>Ainsi, la Plateforme permet aux Coaches de proposer leurs services aux Joueurs directement sur la Plateforme.</li>
                            <li>Les Coaches créent donc un compte qui leur permettra de gérer leur activité professionnelle directement sur la Plateforme. </li>
                        </ul>
                        <h2>Recherche d’un autre Joueur dit « sparring » de tennis</h2>
                            <ul>
                            <li>La Plateforme propose la mise en relation entre Joueurs.</li>
                            <li>Dans ce cadre, lors de son enregistrement sur la Plateforme, un Utilisateur peut décider de cocher la case « disponible en tant que partenaire » afin d'apparaitre dans la liste des Joueurs acceptant d’être partenaire de jeu sur la Plateforme.</li>
                            <li>Le Joueur entrant dans cette catégorie doit avoir un certain niveau de tennis qui est indiqué au moment de son inscription. </li>
                        </ul>
                        <h2>Recherche d’un terrain pour jouer au tennis</h2>
                        <ul>
                            <li>Un Joueur peut également renseigner des éléments pour indiquer qu’il est à la recherche d’un terrain pour jouer. </li>
                        </ul>
        
                        <h2>Petites annonces </h2>
                        <ul>
                            <li>La Plateforme propose également un service de petites annonces par le biais duquel les Utilisateurs peut déposer des petites annonces en fonction des critères indiqués sur la Plateforme. </li>
                        </ul>
                            
                    </div>
                </div>
                
                <div class="clearfix"></div>
            </div>

            
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="mid_contentdiv">
                            <h1 class="page_title">Accessibilité de la Plateforme Ohmytennis</h1>	
                            <p>La Société s’efforce de permettre l’accès à la Plateforme 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure tel que défini par l’article 1218 du code civil et la jurisprudence applicable ou d’un événement hors de son contrôle, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement de la Plateforme. </p>
                            <p>La Société ne peut garantir une disponibilité de la Plateforme et/ou des services, une fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’Utilisateur que ce soit par des moyens électronique ou téléphonique.
            </p>
                            <p> La responsabilité de la Société ne saurait être engagée en cas d’impossibilité d’accès à la Plateforme.
            </p>
                            <p> Par ailleurs, la Société peut être amenée à interrompre la Plateforme ou une partie des services, à tout moment sans préavis et sans droit à indemnités. L’Utilisateur reconnaît et accepte que la Société ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’Utilisateur ou tout tiers.
            </p>
                            
                    
                </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
                    <h1 class="page_title">Création d’un compte sur la Plateforme et le Site Ohmytennis</h1>	
                    <p>L’accès et l’inscription à la Plateforme et Site sont gratuits, sous réserve des éventuels frais de communication des opérateurs de téléphonie mobile et des fournisseurs d’accès à Internet. </p>
                    <p>L’Utilisateur qui souhaite accéder à la Plateforme et bénéficier de ses services devra renseigner ses coordonnées et les informations qui seront demandées au moment de son inscription. 
    
    </p>
                    <p> Notamment, pourront être demandés à l’Utilisateur ses nom, prénom, adresse, coordonnées bancaires, niveau de tennis, préférences de jeu, …. Cette liste n’est pas exhaustive.</p>
                                        
            
        </div>
            </div>
            
            <div class="clearfix"></div>
        </div>
    

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mid_contentdiv">
                        <h1 class="page_title">Suspension ou suppression d’un compte Ohmytennis</h1>	
                        <p>La Société pourra décider de suspendre ou supprimer un compte à son entière discrétion et notamment en cas de non-respect par un utilisateur des présentes CGU.  </p>
                        <p>Cette suspension ou suppression se fera sans indemnité ni préavis. 
        
        </p>
                                                            
                
            </div>
                </div>
                
                <div class="clearfix"></div>
            </div>



            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="mid_contentdiv">
                            <h1 class="page_title">Obligation des Utilisateurs Ohmytennis</h1>	
                            <p>Les Utilisateurs s’engagent à faire une utilisation de la Plateforme dans le respect des conditions des présentes CGU.</p>
                            <p>Plus particulièrement, les Utilisateurs s’interdisent toute utilisation de la Plateforme qui serait contraire à toute législation applicable. A cet égard, les Utilisateurs s’interdisent de publier du contenu à caractère discriminatoire, pornographique, obscène, indécent, choquant ou violents et plus généralement des contenus susceptibles de porter atteinte aux droits de tiers ou d’être préjudiciables à des tiers, de quelque manière et sous quelque forme que ce soit.</p>
                            <p>La responsabilité de la Société ne pourra en aucun cas être engagée à ce titre. </p>
                            <p>Les Utilisateurs sont seuls responsables de leur utilisation de la Plateforme et des relations qu’ils pourront nouer avec d’autres Utilisateurs par le biais des services offerts par la Plateforme.</p>
                    </div>
                    </div>
                    
                    <div class="clearfix"></div>
            </div>



            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="mid_contentdiv">
                            <h1 class="page_title">Garantie et responsabilité des Utilisateurs Ohmytennis</h1>	
                            <p>Les Utilisateurs reconnaissent et acceptent qu’ils sont seuls responsables de l’utilisation qu’ils font de la Plateforme.</p>
                            <p>En outre, les Utilisateurs reconnaissent et acceptent qu’ils assument l’entière responsabilité de toute publication de contenu (visuels, textuels, sonores notamment). </p>
                            <p>Par ailleurs, les Utilisateurs garantissent la Société contre toute action émanant de tiers ou d’autres Utilisateurs qui revendiqueraient une violation de leurs droits. </p>
            
                                                                
                    
                </div>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>



                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="mid_contentdiv">
                                <h1 class="page_title">Limitation de responsabilité de la Société Ohmytennis</h1>	
                                <p>La Société n’assume aucune responsabilité quant à l’utilisation est faite de la Plateforme par les Utilisateurs qui utilisent ainsi la Plateforme à leurs risques et périls. .</p>
                                <p>En outre, la Société n’est pas tenue de vérifier l’identité des Utilisateurs qui accèdent à la Plateforme, de contrôler les activités des Utilisateurs ou de modérer les contenus publiés par les Utilisateurs. . </p>
                                <p>A cet égard, il est précisé que la Société fournit un service de mise en relation entre les Utilisateurs et des partenaires ainsi que des services permettant de faire l’acquisition de produits et services. </p>
                
                                <p>La Société n’est pas responsables des produits ou services vendus et offerts par les Partenaires dans le cadre de l’Utilisation de la Plateforme et du Site. Ainsi, la Société ne saurait assumer aucune responsabilité quant à tous dommages directs ou indirects causés par les Partenaires.</p>
                                <p>Ainsi, l’Utilisateur est informé que ce sont les conditions générales des Partenaires qui s’appliquent dans le cadre de la vente de produits et services par les Partenaires. </p>
                
                                                                    
                        
                    </div>
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="mid_contentdiv">
                                    <h1 class="page_title">Protection des données à caractère personnel sur Ohmytennis</h1>	
                                    <p>Dans le cadre de l’exploitation de la Plateforme et du Site, la Société collecte et procède au traitement des données à  caractère personnel des Utilisateurs suivantes : nom, prénom, âge, adresse email ainsi que des données de localisation permettant à l’Application d’offrir des fonctionnalités basées sur des informations géographiques</p>
                                    <p>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée par la loi n°2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés, la Société a procédé auprès de la CNIL à la déclaration préalable du traitement qu'elle opère sur les données personnelles relatives aux Utilisateurs.
                    </p>
                                    <p>Les Utilisateurs disposent d'un droit d'accès, de modification, de rectification et de suppression sur les données à caractère personnel les concernant qui peut être exercé en adressant une demande à la Société. 
                    </p>
                                    <p>Enfin, les Utilisateurs sont informés de ce que la Société pourra être soumis à une obligation de transmettre et communiquer les données personnelles des Utilisateurs soit pour respecter une obligation légale, soit en application d'une décision judiciaire, administrative, ou d'une autorité administrative indépendante.
                    </p>
                                                                                        
                            
                        </div>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>	


        				
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mid_contentdiv">
                    <h1 class="page_title">Propriété intellectuelle</h1>	
                    <p>La Société est titulaire de l’ensemble des droits de propriété intellectuelle relatifs au Site et à la Plateforme. </p>
                    <p>Cela comprend notamment la marque et le logo de la Société, l’architecture du Site et de la Plateforme.</p>
                    <p>Toute reprise ou reproduction de ces éléments sans autorisation préalable de la Société constitue un acte de contrefaçon qui pourra être poursuivi comme tel et engager la responsabilité civile et pénale de son auteur.</p>
                    <p>Nonobstant ce qui précède, la Société accorde une simple licence d’utilisation de ces droits aux Utilisateurs aux seules fins d’accès et d’utilisation de la Plateforme. Cette licence est limitée à la France et prendra fin en cas de suspension ou suppression d’un compte Utilisateur.</p>
                    <p>Dans le cas où les Utilisateurs seraient amenés à publier tout contenu sur la Plateforme ou le Site, ils accordent, sans frais, à la Société une licence d’utilisation et de reproduction desdits contenus dans le monde entier, sur tout support, à toutes fins et pour la durée légale de protection des droits de propriété intellectuelle en cause. 
    </p>													
            
        </div>
            </div>
            
            <div class="clearfix"></div>
        </div>		 		


  </div>
    
    <div class="clearfix"></div>
</div>
</div>
  
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="mid_contentdiv">
                <h1 class="page_title">Droit applicable et juridiction compétente</h1>	
                <p>Les présentes CGU sont rédigées et interprétées conformément au droit français. </p>
                <p>En cas de litige, les règles de droit commun s’appliqueront entre la Société et les Utilisateurs pour déterminer la juridiction compétente.  </p>
        
    </div>
        </div>
        
        <div class="clearfix"></div>
    </div>


</div>
</div> 
<!-- section1 ends -->


<!-- section2 starts --> 
<div class="section2 des_concept_backtext">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="des_back_content">
            <h4>Nous proposons aux passionnés de tennis d'avoir un univers spécialement créé pour eux.</h4>
            </div>
        </div>
    </div>	
</div>
</div>
<!-- section2 ends --> 

<!-- section3 starts --> 
<div class="section3 des_concept_circletext haspadd">
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
            <div class="des_orange_circle">
                <img src="../assets/images/concept_icon1.png" alt="concept_icon1" />
            </div>
            <h5><strong><a href="concept_présentation.html">Présentation <br>Générale</a></strong></h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
            <div class="des_orange_circle">
                <img src="../assets/images/concept_icon2.png" alt="concept_icon1" />
            </div>
            <h5><strong><a href="concept_lacharte.html">La charte <br>de Qualité</a></strong></h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
            <div class="des_orange_circle">
                <img src="../assets/images/concept_icon3.png" alt="concept_icon1" />
            </div>
            <h5><strong><a href="concept_engagements.html">Nos <br>Engagements</a></strong></h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
            <div class="des_orange_circle">
                <img src="../assets/images/concept_icon4.png" alt="concept_icon1" />
            </div>
            <h5><strong><a href="../assets/concept_informations.html">Informations<br> Réglementaires</a></strong></h5>
        </div>
    </div>	
</div>
</div>
<!-- section3 ends --> 
<app-footer></app-footer>