


      <body class="admin_tempstyle">
          <div class="wrapper myaccount_page">
            <div class="sidebar" data-color="purple" data-background-color="white">
              <div class="logo">
                  <a href="../../" class="simple-text logo-normal">
                      <img src="../../../assets/coach/images/admin_logo.png" alt="">
                  </a>
              </div>
              <app-userleftpanelcomponent></app-userleftpanelcomponent>
          </div>
          <div class="main-panel">
              <app-usertopnavbar></app-usertopnavbar>
              <router-outlet></router-outlet>
          </div>
            
          </div>
          
        </body>
        
        