<body class="admin_tempstyle super_admintop">
  <div class="wrapper myaccount_page">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="logo">
        <a href="/admin/dashboard" class="simple-text logo-normal">
          <img src="../../../assets/coach/images/admin_logo.png" alt="" />
        </a>
      </div>
      <app-adminleftpanel></app-adminleftpanel>
    </div>
    <div class="main-panel">
      <app-admintopbar></app-admintopbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
