<div class="text-center">
    <div class="icon_txt">
        <a (click)="socialSignIn('facebook')"  class="btn-social btn-facebook"><i
                class="fa fa-facebook"></i><br /></a><span class="line_txt">Facebook</span>
    </div>
    <div class="icon_txt">
        <a href="#" class="btn-social btn-instagram"><i
                class="fa fa-instagram"></i></a>
        <span class="line_txt">Instagram</span>
    </div>
    <div class="icon_txt">
        <a href="#" class="btn-social btn-twitter"><i
                class="fa fa-twitter"></i></a>
        <span class="line_txt">Twitter</span>
    </div>
</div>