.user_card {
	height: 340px;
	width: 350px;
	margin: 140px auto;
	background: rgba(255, 255, 255, 0.18);
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.brand_logo_container {
	position: absolute;
	height: 100px;
	width: 100px;
	top: -50px;
	border: 1px solid #b9b3b3;
	border-radius: 50%;
	background: #ffffff;
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #e75b00 !important;
	color: white !important;
	padding: 10px 20px;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #c0392b !important;
}
.d-flex {
	display: -ms-flexbox!important;
	display: flex!important;
}
.input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
.input-group-text {
	background: #e75b00 !important;
	color: white !important;
	font-size: 11px;
	padding: 9px 11px;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input-group-append {
margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.form_container {
    margin-top: 50px;
}
.input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
	margin-bottom: 0;
	font-size: 14px;
}
.field-icon {
    position: absolute;
    right: 5px;
    z-index: 3;
    top: 9px;
}
.login_container {
	width: 100%;
    padding: 0px;
}
.login_form {
    width: 100%;
    padding: 0px 20px;
}