
<div class="content">
    <div class="container-fluid"><br><br>         
        <div class="row">
            <div class="col-md-12">
                <div class="form_devarea admin_profform">
                    <div class="pull-right" style="text-align: left; padding: 22px 20px 0px;">
                        <button
                        class="btn orange_btn"
                        style="cursor: pointer;"
                        (click)="goBack()">
                        Retour
                        </button>
                    </div>
                    <div class="box-body">
                    <br> 
                  
                <form class="login_form" #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)" autocomplete="off">
                    <div *ngIf="alertMsg.show" class="alert {{alertMsg.type}} alert-dismissible text-center">
                        <button type="button" (click)="_closeAlertMessage($event)" class="close"><span>&times;</span></button> {{alertMsg.msg}}
                    </div>
                    <h4>CHANGE PASSWORD</h4>
                    <div class="form-group bmd-form-group">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <label>Ancien mot de passe <span class="red">*</span></label>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <input type="password" required #password="ngModel" [ngClass]="{'alert_field': (password.errors && (password.touched || password.dirty))}" [(ngModel)]="changePassword.password" name="password" class="form-control input_pass" placeholder="">                         
                                <div>
                                    <ng-container *ngIf="password.errors && (password.touched || password.dirty)">
                                        <span class="alert_text" *ngIf="password.errors.required">Entrez votre ancien mot de passe.</span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                

                    <div class="form-group bmd-form-group">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <label>Nouveau mot de passe <span class="red">*</span></label>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <input type="password" required #newpassword="ngModel" [ngClass]="{'alert_field': (newpassword.errors && (newpassword.touched || newpassword.dirty))}" [(ngModel)]="changePassword.newpassword" name="newpassword" class="form-control input_pass" placeholder="">
                                <div>
                                    <ng-container *ngIf="newpassword.errors && (newpassword.touched || newpassword.dirty)">
                                        <span class="alert_text" *ngIf="newpassword.errors.required">Entrez votre nouveau mot de passe.                                </span>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group bmd-form-group">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <label>Confirmez le mot de passe<span class="red">*</span></label>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <input type="password" required #conpassword="ngModel" [ngClass]="{'alert_field': (conpassword.errors && (conpassword.touched || conpassword.dirty))}" [(ngModel)]="changePassword.conpassword" name="conpassword" class="form-control input_pass" placeholder="">

                                <div>
                                    <ng-container *ngIf="conpassword.errors && (conpassword.touched || conpassword.dirty)">
                                            <span class="alert_text" *ngIf="conpassword.errors.required">Indiquez votre mot de
                                                passe.</span>
                                        </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>                   
            
                <div class="form-group bmd-form-group">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                           
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div style="max-width: 140px; margin: 0px auto;">
                                <input type="submit" value="Soumettre"class="btn login_btn">
                            </div>
                        </div>
                    </div>
                </div>   
                <!-- <div style="max-width: 140px; margin: 0px auto;" class="d-flex justify-content-center mt-3 login_container">
                    <input type="submit" value="Soumettre"class="btn login_btn">
                </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
