<!-- Banner starts --> 
<app-header></app-header>
<app-top-menu></app-top-menu>
<div class="innerbanner">
    <img src="../assets/images/tennis.png" alt="Los Angeles">
    <div class="inner_carousel">
        <h3>oh my Tennis</h3>
    </div>
</div>
<!-- Banner ends --> 

<!-- Inner Search area starts -->
<div class="inner_searcharea">
    <div class="banner_container">
        <h3>Réservez un cours avec un coach</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control" id="" placeholder="Ville" type="text">
                        <label><img src="../assets/images/ville_icon.png"></label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <div class="form-group">
                    <div class="addon-lg">
                        <input class="form-control" id="" placeholder="Date" type="text">
                        <label><img src="../assets/images/date_icon.png">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 inner_search_div">
                <button class="btn black_btn">Recherche</button>
            </div>
        </div>
    </div>
</div>
<!-- Inner Search area ends --> 

<div class="licence_contsec">
<div class="container">
<div class="row">
<div class="license">
        <div class="page_title_div col-xs-12">
            <h1 class="page_title">La licence au tennis</h1>				
            <img src="../assets/images/title_border.png" alt="title_border">
        </div>
        <div class="license_section">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="license_txt"><b>Quelles sont les informations présentes sur la licence de tennis fft?</b><br/>
                On peut lire sur sa licence son nom , son prénom , son numéro de licence , sa catégorie , son classement (son meilleur classement de tennis aussi) , son club et le numéro d’affiliation. Cela permet d’avoir un réel état de votre niveau plutôt que de dire « je suis classé ».</p><br>
                <p>Avec la licence de tennis il est impossible de s’inventer un niveau , le classement français est précis et donne tout de suite une indication sur votre valeur par rapport aux autres</p>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="../assets/images/titre_img1.jpg" class="center-block" alt="titre_img1">
            </div>
            <div class="clearfix"></div>
        </div>
    
    <div class="license_section">
    <h4 class="text-center"><strong>Les 4 licences au tennis qui existent :</strong></h4><br/>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="../assets/images/titre_img2.jpg" class="center-block" alt="titre_img1">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="license_txt"><span style="font-weight:bold">La licence de tennis annuelle :   licence C </span></p>
            <ul class="licence_list">
                 <li>Valable 12 mois du 1er octobre au 30 septembre de l’année suivante.</li>
                 <li>Prix fixe 27 euros pour les adultes et 18 euros pour les enfants </li>
                 <li>Renouvelable l’année suivante en licence C ou W (voir licence internet)</li>
                 <li>Rattachée au club de tennis ayant délivré la licence.</li>
                 <li>Possibilité de jouer en compétition individuelle et en équipe</li>
                 <li>Accès à la billetterie de Roland Garros</li>
                 <li>Les garanties de la licence (responsabilités civiles et accidents corporels)
                Lien téléchargeable</li>
            </ul>
            
            
                <p class="license_txt">C’est la licence classique annuelle qui existe depuis la création de la Fédération Française de tennis en 1920. On compte aujourd’hui environ 1 millions de licenciés tennis en France.</p>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="license_section">
            <div class="col-md-6 col-sm-6 col-xs-12">
            <h5>EXEMPLE  PHOTO D UN LICENCE C</h5>
                <p class="license_txt"><b>Depuis le 7 avril 2016 de nouvelles licences sont apparues :</b><br/><span style="font-weight:bold">La licence de tennis découverte :  licence D</span><br/></p>
                
                <ul class="licence_list">
                <li>Accessible à tous les 15 ans et plus qui n’ont jamais été licenciés.</li>
                 <li>Valable 3 mois , à partir de la date d’enregistrement (elle ne peut aller au delà de la fin d’année sportive) et saisissable via ADOC. </li>
                 <li>Prix fixe de 3€</li>
                 <li>Non renouvelable l’année suivante, mais transformable en licence « club » en cours d’année sportive dans le club d’origine. Les 3 € seront alors déduits du prix de la licence annuelle.</li>
                 <li>Rattachée au club ayant délivré la licence.</li>
            </ul>
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="../assets/images/titre_img3.jpg" class="center-block" alt="titre_img1">
            </div>
            <div class="clearfix"></div>
        </div>
                
    <div class="license_section">
    <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="../assets/images/titre_img1.jpg" class="center-block" alt="titre_img1">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <h5>EXEMPLE  PHOTO D UNE LICENCE D</h5>
                <p class="license_txt"><span style="font-weight:bold">La licence de tennis périscolaire : licence P</span><br/></p>
                <p>Accessible à tous les enfants de moins de 12 ans non licenciés participant à un cycle tennis dans le cadre des activités scolaires et périscolaires déclarées à la ligue par le club.</p>
                <ul class="licence_list">
                <li>Valable 3 mois à partir de la date d’enregistrement (elle ne peut aller au-delà de la fin d’année sportive) et saisissable via ADOC.</li>
                 <li>Prix fixe de 3€ </li>
                 <li>Renouvelable l’année suivante.</li>
                 <li>Transformable en licence « club » en cours d’année sportive dans le club d’origine. Les 3€ seront déduits du prix de la licence annuelle.</li>
                 <li>Rattachée au club ayant délivré la licence de tennis .Les garanties de la licence (responsabilités civiles et accidents corporels)Lien téléchargeable</li>
            </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="license_section">
            <div class="col-md-6 col-sm-6 col-xs-12">
            <h5>EXEMPLE  PHOTO D UN LICENCE P</h5>
                <p class="license_txt"><span style="font-weight:bold">La licence de tennis internet  : LICENCE W</span><br/></p>
                <p>Accessible aux plus de 18 ans même s’ils ont déjà été licenciés en club</p>
                <ul class="licence_list">
                 <li>Valable 12 mois du 1er octobre au 30 septembre de l’année suivante</li>
                 <li>Prix licence annuelle + 5 euros </li>
                 <li>Renouvelable l’année suivante en licence C ou W</li>
                 <li>Transformable en licence « club » en cours d’année sportive dans le club d’origine. Les 3€ seront déduits du prix de la licence annuelle.</li>
                 <li>Rattachée uniquement à la ligue.</li>
                 <li>Vous pouvez uniquement vous inscrire en compétition de tennis individuelleLes garanties de la licence (responsabilités civiles et accidents corporels)Lien téléchargeable</li>
            </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="../assets/images/titre_img2.jpg" class="center-block" alt="titre_img1">
            </div>
            <div class="clearfix"></div>
        </div>	
        
        <div class="license_section">
            <h4 style="text-align:center">Récapitulatif des licences tennis sous forme de tableau</h4>
            <h5 style="text-align:center">EXEMPLE  PHOTO D UN LICENCE P</h5>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="licence_table" style="width:100%">
                  <tr>
                    <th></th>
                    <th>Licence Annulle Type C</th>
                    <th>Licence decouverte Type D</th>
                    <th>Licence Periscolaire Type S</th>
                    <th>Licence Internet Type W</th>
                  </tr>
                  <tr>
                    <td>Competition Individuelle</td>
                    <td>Oui</td>
                    <td>Oui</td>
                    <td>Oui</td>
                    <td>Oui</td>
                  </tr>
                  <tr>
                    <td>Competition Individuelle</td>
                    <td>Oui</td>
                    <td>Oui</td>
                    <td>Oui</td>
                    <td>Oui</td>
                  </tr>
                  <tr>
                    <td>Competition Individuelle</td>
                    <td>Oui</td>
                    <td>Oui</td>
                    <td>Oui</td>
                    <td>Oui</td>
                  </tr>
                </table>
            </div>
            
        </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="license_section">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="../assets/images/titre_img3.jpg" class="center-block" alt="titre_img1">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h4> Il est toujours important d‘avoir une copie de la licence de tennis sur soi</h4><br/><p>On peut la télécharger en pdf directement sur l’espace du licencié , cela permet de l’avoir sur son téléphone par exemple pour la présenter au juge arbitre du tournoi. Vous pouvez avoir également une copie imprimée dans votre portefeuille si vous le souhaitez.</p>
            </div>
            
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>	 
</div>

<app-footer></app-footer>
<!-- section3 ends -->

